################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ProductionGrade/.vs/ProductionGrade/v16
/ProductionGrade/API/obj
