################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ProductionGrade/.vs/ProductionGrade/v16
/ProductionGrade/API/obj
/ProductionGrade/.vs/ProductionGrade
/ProductionGrade/API/bin/Debug/netcoreapp3.1
/ProductionGrade/DLL/bin/Debug/netcoreapp3.1
/ProductionGrade/DLL/obj
/ProductionGrade/BLL/bin/Debug/netcoreapp3.1
/ProductionGrade/BLL/obj
